/* Universal Styling */

/* {
box-sizing: border-box;
max-height: 600px; */



/* Header // Social Media Icons*/


.fa { 
    display: inline-block;
    list-style-type: none;
    text-align: center; 
    font-family: 'Scope One', serif;
    font-size: 25px;
    padding: 10px; 
    margin: 5px;
    width: 45px; 
} 

.fa-github { 
    background: black; 
    color: white; 
} 

.fa-linkedin { 
    background: #007bb5; 
    color: white; 
} 

.fa:hover{
    opacity: 0.8;
}

.navbar {
    display: inline-flex;
    list-style-type: none;
    padding: 10px;
}
    
.navbar a{
    color: #007bb5;
    padding: 15px;
    font-family: 'Scope One', serif;
    font-size: 25px;
    font-weight:bold;
}
    
.navbar a:hover {
    opacity: 0.8;
    padding: 10px;
}


/*  CSS Grid!- 7 total sections*/

.newgrid {
    display: grid;
    gap: 25px;
    text-align: center;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(4, minmax(500px));
    grid-template-columns: repeat(2, 2fr); 
    grid-template-areas:
    "about aside"
    "skills skills"
    "tech projects"
    "contact contact"
    "msg msg";
    background-image: url(../images/pic3.jpg);
    background-color: white;
    background-size: contain;
    object-fit: fill;
}

.about, .aside, .skills, .tech, .projects, 
.contact, .msg {
    border: mediumturquoise solid 1px;
    font-size: 20px;
}

.about {
    grid-area: about;
}

.aside {
    grid-area: aside;
}

.skills {
    grid-area: skills;
    background-color: whitesmoke;
}

.tech {
    grid-area: tech;
}

.projects {
    grid-area: projects;
}

.contact {
    grid-area: contact;
}

.msg {
    grid-area: msg;
}


/* About */

.about {
    padding: 15px;
}

.about h1, h2{
    font-family: 'Bungee Spice', sans-serif;
    margin: 10px;
}

.about h2 {
    border: dotted darkcyan 2px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5%;
}

.about p{
    font-family: 'Scope One', sans-serif;
    font-size: 22px;
}


/* Aside (profile pic) */

.aside {
    padding: 15px;
}

.aside img {
    border-radius: 75%;
    width: 50%;
    display: inline-flex;
    border: solid darkcyan 2px;
}

.aside p{
    font-family: 'Scope One', sans-serif;
    font-size: 22px;
}

.aside div{
    display: inline-flex;
}

.aside a{
    font-size: 40px;
}

.aside_connect h1{
    font-family: 'Bungee Spice', sans-serif;
    border: dotted darkcyan 2px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5%;
}

.aside a:hover {
    opacity: 0.5;
    background-color: #007bb5;
}


/* Skills and Technical Experience */

.skills {
    grid-area: skills;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-family: 'Bungee Spice', sans-serif;
}



.skillsImages img{
    flex-wrap: wrap;
    max-width: auto;
    margin: 20px;
    object-fit: contain;
}


/* Technical Experience List*/

.tech {
    font-family: 'Bungee Spice', sans-serif;
    padding: 15px;
    text-align: center;
}

.experienceList ul, .certList ul {
    list-style-type: style type circle;;
    margin: 15px;
    font-family: 'Scope One', sans-serif;
    text-align: center;
    font-size: 22px;
}


/* Projects  */

.projects{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.projects ul {
    font-size: 15px;
    list-style-type: style type circle;;
    text-align: start;
    font-family: 'Scope One', sans-serif;
} 

/* Contact */

.contact form {
    text-align: center;
    padding: 15px;
    color: black;
    font-family: 'Scope One', sans-serif;
    font-size: 22px;
}

.leave_message h1 {   
    text-align: center;
    justify-content: center;
    font-family: 'Bungee Spice', sans-serif;
} 

#usersName,
#usersEmail,
#usersMessage {
    font-size: 25px;
} 

.submit_button{
    padding: 20px;
    font-size: 22px;
    background-color: lightgreen;
}

.submit_button:hover{
    background-color: mediumseagreen;
    color: white;
    align-items: center;
}

.submit_button p {   
    font-size: 5px;
} 


/* Message Display */


.msg{
    font-size: 20px;
    text-align: center;
    color: black;
    font-family: 'Scope One', sans-serif;
}

.msg h1 {   
    text-align: center;
    justify-content: center;
    font-family: 'Bungee Spice', sans-serif;
} 



/* Footer */


footer{
    padding: px;
    font-size: 22px;
    color: darkslateblue;
} 

footer div{
    font-size: 10px;
}


/* @media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
} */