/* Universal Styling */

/* * {
    /* box-sizing: border-box; */
/* max-height: 600px; */


/* Body Styling*/

/* body {
    font-family: 'Bungee Spice', sans-serif;  
    font-family: "Hedvig Letters Sans", Helvetica, sans-serif; 
}  */


/* Header // Social Media Icons*/

.fa { 
    padding: 10px; 
    width: 45px; 
    margin-left: 10px;
    display: inline-block;
    list-style-type: none;
    text-align: start; 
} 

.fa-github { 
    background: black; 
    color: white; 
} 

.fa-linkedin { 
    background: #007bb5; 
    color: white; 
} 

.navbar {
    display: inline-flex;
    list-style-type: none;
}
    
.navbar a{
    color: black;
    padding: 10px;
    font-family: 'Scope One', serif;
    font-size: 20px;
}
    
.navbar a:hover {
    font-size: 22px;
    opacity: 0.8;
    background-color: skyblue;
}


/*  CSS Grid! Let's try again*/

.newgrid {
    display: grid;
    grid-template-rows: repeat(5, minmax(200px, 500px));
    grid-template-columns: 1fr 1fr; 
    grid-template-areas:
    "one two"
    "three three"
    "four five"
    "six six"
    "seven seven";
    border: black solid 5px;
}




.one, .two, .three, .four, .five, 
.six, .seven {
    border: pink solid 5px;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skillsImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.skillsImages img{
    max-width: 15%;
    max-height: 15%;
    margin: 5px;
    object-fit: contain;
}


.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}










/* Flex Container */


/* .flex_container {
    display: flex;
    flex-direction: column;
}


/* About 

/* .about {
    background-image: url('../images/background.jpg'); 

.about h1{
    font-family: 'Bungee Spice', sans-serif;
}

.about p{
    font-family: 'Scope One', sans-serif;
}

.about button {
    font-family: 'Bungee Spice', sans-serif;
}

.aside {
    font-family: 'Bungee Spice', sans-serif;
}


.aside img {
    border-radius: 25%;
    border: 2px dotted #007bb5;
    width: 10%;
    height: 10%;
    float: right;

.skillImages img{
    display: inline-flex;
    width: 20px; 
    height: 20px;
} */



/* Skills and Technical Experience 


.skills {
    background-color: antiquewhite;
    list-style-type: none;
    overflow: hidden;
    font-family: 'Scope One', sans-serif;
}

/* .skills h2{
} 

.experienceList ul {
    font-size: 20px;
    list-style-type: none;
    overflow: hidden;
    margin: 15px;
}



/* Projects  

.projects {
    background-color: darkslateblue;
    font-family: 'Scope One', sans-serif;
} 

.projects h2{
    font-size: 25px;
    color: black;
    text-decoration: underline;
}

.projects ul {
    font-size: 22px;
    padding: 15px;
    background-color: whitesmoke;
} 

/* Contact 

.contact {
    background-color: antiquewhite;
}

.contact form {
    text-align: center;
    padding: 15px;
    color: black;
    font-family: 'Scope One', sans-serif;
    font-size: 28px;
}

.leave_message h2 {   
    text-decoration: underline;
    text-align: center;
    justify-content: center;
} 

#usersName,
#usersEmail,
#usersMessage {
    font-size: 35px;
} 

.submit_button{
    margin: 25px;
    padding: 20px;
    font-size: 25px;
    background-color: mediumseagreen;
    text-decoration: underline;
}

.submit_button:hover{
    background-color: darkgreen;
    text-transform: uppercase;
    color: white;
    align-items: center;
}

.submit_button p {   
    font-size: 15px;
} 


/* Message Display 


.msgdisplay{
    margin: 25px;
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    font-size: 28px;
}

.msgdisplay h2 {   
    padding: 20px;
    font-size: 28px;
} 

.msgdisplay ul{
    font-size: 25px;
} */


/* Footer */


footer{
    padding: 10px;
    font-size: 22px;
    color: darkslateblue;
} 


/* @media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
} */