/* Header // Social Media Icons*/


.fa { 
    list-style-type: none;
    font-family: 'Scope One', serif;
    font-size: 22px;
    padding: 15px;
    margin: 15px;
} 

.fa-github { 
    background: black; 
    color: white; 
} 

.fa-linkedin { 
    background: #007bb5; 
    color: white; 
} 

.fa:hover{
    opacity: 0.8;
}

header{
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar {
    display: flex;
    font-family: 'Scope One', serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}
    
.navbar a{
    display: flex;
    justify-content: flex-start;
    color: #007bb5; 
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
}  
    
.navbar a:hover {
    opacity: 0.8;
    padding: 10px;
    text-decoration: underline;
}


/* font-family: 'Scope One', sans-serif;
font-family: 'Bungee Spice', sans-serif; 
*/


/* Fixed Page Background*/

.fixed {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/pic1.jpg);
    min-height: 500px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.fixed h1{
    color: black;
    float: left;
    padding: 25px;
    text-decoration: underline ;
    background-color: whitesmoke;
    opacity: 0.5;
}


.fixed_about{
    color: black;
    position: absolute;
    top: 100px;
    right: 15px;
    padding: 10px;
    text-transform: uppercase;
    background-color: whitesmoke;
    letter-spacing: 3px;
}


/*  CSS Grid!- 5 total sections*/

.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "about about about"
    "skills skills skills"
    "tech tech certList"
    "projects projects projects"
    "contact contact contact"
    "msg msg msg";
    text-align: center;
}


/* .about, .skills, .tech, .certList, .projects,
.contact, .msg {
    border: purple solid 1px;
} */

.skills, .projects, .msg{
    border: purple solid 1px;
}

.about {
    grid-area: about;
}


.skills {
    grid-area: skills;
}

.tech {
    grid-area: tech;
}

.certList {
    grid-area: certList;
}

.projects {
    grid-area: projects;
}

.contact {
    grid-area: contact;
}

/* .photo1{
    grid-area: photo1;
}

.photo2{
    grid-area: photo2;
} */

.msg {
    grid-area: msg;
}


/* About */

.about{
    font-family: 'Scope One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    font-size: 22px;
}

.about img {
    border-radius: 65%;
    width: 15%;
    height: auto;
}

.about h2 {
    font-family: 'Bungee Spice', sans-serif;
}




/* Skills and Technical Experience */

.skills{
    font-family: 'Bungee Spice', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.skills h2{
    text-align: center;
    justify-content: center;
}

.skillsImages img{
    flex-wrap: wrap;
    max-width: auto;
    margin: 10px;
    object-fit: contain;
    justify-self: center;
}


/* Technical Experience & Certification List */

.tech, .certList {
    padding: 15px;
}


.tech h2, .certList h2 {
    font-family: 'Bungee Spice', sans-serif;
    text-align: center;
}


.experienceList ul, .certList ul{
    font-family: 'Scope One', sans-serif;
    list-style-type: disc;
    list-style-position: inside;
    text-align: center;
    font-size: 22px;
}


/* Project Section */

.projects{
    font-family: 'Bungee Spice', sans-serif;
    align-items: center;
    padding: 15px;
}

.projects h2{
    text-align: center;
    justify-content: center;
}

.projects ul {
    font-family: 'Scope One', sans-serif;
    list-style-type: disc;
    list-style-position: inside;
    text-align: center;
    font-size: 22px;
}


/* Contact */

.contact form {
    text-align: center;
    color: black;
    font-family: 'Scope One', sans-serif;
    padding: 15px;
    display: grid;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/pic1.jpg);
    min-height: 500px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    }

.whitebackground {
    background-color: whitesmoke;
    display: inline-block;
    justify-content: end;
    align-items: center;
    padding: 15px;
    border: purple solid 1px;
}


.leave_message h2 {   
    text-align: center;
    justify-content: center;
    font-family: 'Bungee Spice', sans-serif;
} 

#usersName,
#usersEmail,
#usersMessage {
    font-size: 22px;
} 

.submit_button{
    background-color: lightgreen;
}

.submit_button:hover{
    background-color: mediumseagreen;
    color: white;
    align-items: center;
}


/* Message Display */


.msg{
    text-align: center;
    color: black;
    font-family: 'Scope One', sans-serif;
}

.msg h2 {   
    text-align: center;
    justify-content: center;
    font-family: 'Bungee Spice', sans-serif;

} 


/* Footer */


footer{
    color: darkslateblue;
} 

footer div{
    font-size: 10px;
}


/* @media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
} */