.topnav {
    background-color: lavenderblush;
    font-size: 25px;
    margin: auto;
    font-weight: bold;
    position: center;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.3;
    text-align: center; 
}

body {
    background-color: aliceblue;
    background-image: url("images/minimal.jpeg");
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border-radius: 50%;
    float: right;
  }