/* Header // Social Media Icons*/

/* Grid! */

/* .intro{
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 600px;
} */

.grid {
    display: grid;
    gap: 5px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "one one two"
    "three three three"
    "four five six";
}

.one, .two, .three, .four, .five, .six {
    border: palevioletred solid 2px;
    display: grid;
}

.one {

  }


.two {

  }

.three {

  }

.four {

  }

.five {

  }

.six {

  }
  

 





 .fa { 
    display: inline-block;
    list-style-type: none;
    text-align: center; 
    font-family: 'Scope One', serif;
    font-size: 25px;
    padding: 10px; 
    width: 45px; 
} 

.fa-github { 
    background: black; 
    color: white; 
} 

.fa-linkedin { 
    background: #007bb5; 
    color: white; 
} 

.fa:hover{
    opacity: 0.8;
}

.navbar {
    display: inline-flex;
    margin: 20px;
    list-style-type: none;
    padding: 10px;
}
    
.navbar a{
    color: #007bb5;
    padding: 10px;
    font-family: 'Scope One', serif;
    font-size: 20px;
    font-weight:bold;
}
    
.navbar a:hover {
    opacity: 0.8;
    padding: 10px;
}
